<h1>Make a New Recipe</h1>

<form action="/recipes" method="post">
  Enter Name: <input id="name" input type="text" name="recipes[name]">
  Enter Recipes: <input id="ingredients" type="text" name="recipes[ingredients]">
  Enter Cook Time: <input id="cook_time" type="text" name="recipes[cook_time]">
  <input type="submit" name="" value="submit">
</form>
